{
  "extends": "airbnb",
  rules: {
    'react/jsx-filename-extension': 0,
    'react/prop-types': [2, { ignore: ['dispatch'] }],
    'react/prefer-stateless-function': 0,
    'global-require': 0,
    'no-confusing-arrow': 0,
    'max-len': [2, 120, 2, { ignoreComments: true, ignoreUrls: true }],
    'comma-dangle': [2, 'never'],
    'vars-on-top': 0,
    'arrow-parens': [2, 'as-needed'],
    'object-shorthand': [2, 'methods'],
    'block-spacing': [2, 'always'],
    'react/jsx-curly-spacing': [2, 'always'],
    'no-multiple-empty-lines': ['error', { max: 1, maxEOF: 1, maxBOF: 0 }],
    'no-console': 'error',
    'camelcase': 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "chai": true,
    "expect": false,
    "assert": false,
    "it": false,
    "describe": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "fix": true
}
